.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}
.header-p {
  max-width: 60vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  border: 3px solid black;
  border-radius: 8px;
  width: 50rem;
}

.userProfile {
  margin-top: 6rem;
  border: 3px solid black;
  border-radius: 8px;
  width: 50rem;
}

.counter-btn {
  margin: 10px;
}

.list {
  list-style: none;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding-left: 50px;
  /* padding-right: 100px; */
  width: 30vw;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
